{% load nested_crispy %}
{% load crispy_forms_tags %}
<html>
<head>
	<title>Nested Forms with KnockoutJS</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<style>
		.main-container {
			padding: 10px;
		}

		.form-container {
			border-left: 2px solid #ccc;
			padding:5px;
			padding-left:10px;
			background-color: #eef;
			margin:3px;
		}

		input {
			margin: 3px;			
		}
	</style>
</head>
<body>
	<h1>Testing Nested Forms</h1>
	<div class="main-container">
	{% if message %} {{ message }} {% endif %}

		<h3>Block List</h3>
		{% for block in blocks %}
			<h5>
				Block <b>{{ block.name }}</b> has {{ block.buildings.count }} building(s).
				&nbsp;&nbsp;
				<a href="{% url 'delete-block' block.pk %}">Delete</a>
			</h5>
			<ul>
			{% for building in block.buildings.all %}
				<li>Building <b>{{ building.name }}</b> has {{ building.tenants.count }} tenant(s).
					<ul>
					{% for tenant in building.tenants.all %}
						<li>Tenant: {{ tenant.name }}</li>
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			</ul>
		{% endfor %}
		<hr/>


		<h3>Nested Form Example</h3>
		<form method="post" action="/">
			{% nested_form form %}

		<b>Closed</b>
		</form><!-- we closed this -->
		<!-- END OF OUR NESTED FORMS -->

	</div>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/static/js/forms.js"></script>
	<script src="/static/js/dust-core-2.2.2.min.js"></script>
	<script src="/static/js/templates.js"></script>
	<script src="/static/js/knockout-3.0.0.js"></script>
	{% nested_form_js form %}

</body>
</html>


