{% load nested_crispy %}
{% load crispy_forms_tags %}
<html>
<head>
	<title>Hello</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<style>
		.main-container {
			padding: 10px;
		}
	</style>
</head>
<body>
	<h1>Testing Nested Forms</h1>
	<div class="main-container">
	{% if message %} {{ message }} {% endif %}

		<h3>Block List</h3>
		{% for block in blocks %}
			<h5>
				{{ block.name }} - {{ block.buildings.count }} buildings.
				<a href="{% url 'edit-block' block.pk %}">Edit</a>
				&nbsp;&nbsp;
				<a href="{% url 'delete-block' block.pk %}">Delete</a>
			</h5>
		{% endfor %}
		<hr/>

		<h3>Our Nested Form</h3>
		<form method="post" action="/">
			{% nested_form form %}	
		<b>Closed</b>
		</form><!-- we closed this -->
		<!-- END OF OUR NESTED FORMS -->
		<hr/>

		<h3>Nested Form</h3>
		<form method="post">
			{{ formset.management_form }}
			{% crispy form %}	

			{% for form in formset %}
				{% crispy form helper %}
			{% endfor %}
			<div class="form-actions">
				<a href="#" class="btn btn-info add-book">Add Building</a>
				<button type="submit" class="btn btn-primary">Create Block</button>
			</div>
		</form>
		<hr/>

	</div>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/static/js/forms.js"></script>
	<script src="/static/js/dust-core-2.2.2.min.js"></script>
	<script src="/static/js/templates.js"></script>
</body>
</html>


